<footer role="contentinfo">
    <small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a> & <a href="https://liquidjs.com/">Liquid</a> • <a href="{{site.authorUrl}}">{{site.authorName}}</a> • <a href="{{site.github}}">GitHub repo</a></small>
</footer>
