<p>
{% if collections.secondary %}
{% assign previousPost = collections.secondary | getPreviousCollectionItem %}
{% assign nextPost = collections.secondary | getNextCollectionItem %}
{% if nextPost or previousPost %}
{% if previousPost %}
Previous post: <a role="button" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a> | 
{% endif %}
{% if nextPost %}
Next post: <a role="button" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
{% endif %}
{% endif %}
{% endif %}
</p>