---
layout: base
---
{% include 'header' %}
<main>
  {% if fileslug %}
  {% include 'aside' %}
  {% endif %}
  {% include 'pagination' %}
  <h1>{{ title | capitalize }}</h1>
  {{ content }}
  {% if fileslug %}
  {% endif %}
</main>
{% include 'footer' %}